    @import url('https://fonts.googleapis.com/css2? family= IBM+Plex+Mono:ital,wght@0,400;1,100 & family= Nunito:ital,wght@0,200;0,400;0,600; 0,900;1,200;1,400;1,600;1,900 & display=swap');
    :root {
        /* Cores de Fonte*/
    --color-font-light: #ffffff;
    --color-font-dark: #000000;
    --color-font-grey: #272727;
    --color-font-light-grey: #5f5f5f;
    --color-font-highlight: #ff414f;
        /*Cores de Decorção*/
    --color-deoration-light-grey: #ffe8eb;
        /*cores de fundo*/
    --color-background-light:#ffffff;   
        /*Gradientes*/
    --gradient-primary-fallback: #ff42ae;
    --gradient-primary: linear-gradient(90deg, rgb(199, 145, 100) 45%, rgb(255, 158, 67)100%);
    --gradient-primary-reverse: linear-gradient(-90deg, rgb(255, 226, 64) 45%, rgb(255, 158, 67)100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal
}
body{
    font-family: 'Nunito', sans-serif;
}
#home {
    background-color: rgb(138, 86, 19);
    position: relative;
    overflow: hidden;
}  

#home .header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 10

}
#home .header .logo-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 5%;
    
}
#home .header .header-logo {
    width: 30%;
    height: auto;
}
#home .header .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
   
}
#home .header .menu-item {
    margin-right: 10px;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
}
#home .header .menu-item:hover{
    color: blue;

}
#home .social-media {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-right: 5%;
    column-gap: 5px;
}
#home .social-media .link {
    color: var(--color-font-light);
    font-size: 18px;

}

#home .banner{
    height: 100vh;
    background: url(../imagens/4\ cavaleiros\ de\ Gwyn.jpg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home .banner .title {
    color: var(--color-font-light);
    font-size: clamp(13px, 5vw, 35px);
    font-weight: normal;
padding-bottom: 30px;
}
#home .banner-container{
    width: 100%;
    max-width: clamp(90vw, 100vw, 70vw);
    text-align: center;
    display: flex;
    flex-direction: column;
    

}
#home .banner .subtitle{
    color: var(--color-font-light);
    font-size: clamp(19px, 5vw, 48px);
    font-weight: 600;
}
#home .banner .description{
    color: var(--color-font-light);
}

#home .banner .link{
    transition: all 1s linear;
    color: var(--color-font-highlight);
    font-size: 16px;
    font-weight: bold;
    background-image:var(--gradient-primary-fallback);  
    background-image: var(--gradient-primary);
    padding: 10px, 20px;
    margin-top: 15px;
    max-width: 200px;
    align-self: center;
    text-decoration: none;}

#home .banner .link:hover{
    background-image: var(--gradient-primary-fallback);  
    background-image: var(--gradient-primary-reverse);
}
#home .about{
    display: flex;
    flex-direction: column;
    align-items: center;
     background-image: var(--gradient-primary-fallback);
    background-image: var(--gradient-primary);
}

#home .about-container{
    display: flex;
    flex-direction: column;
    padding: 80px 10%;
    color: var(--color-font-dark);
    user-select: none;
}

#home .about-container .title{
    font-size: 30px;
    text-transform: capitalize;
 
}

#home .about-container .description{
    padding: 70px 0 40px 0;
    font-size: 25px;
    line-height: 1.6;

}

#home .about-container .link{
    padding: 12px 35px;
    border: 2px solid var(--color-font-grey);
    text-decoration: none;
    border-radius: 50px;
    color: inherit;
    align-self: flex-end;
    font-weight: bold;
    text-transform: capitalize;
    
}
#home .about-cards-container{
    position: relative;
    display: flex;
    width: 100%;
    padding:0 7.5% 60px 7.5%;
    background-color: var(--color-background-light);
}
#home .about-card{
    user-select: none;
    padding: 70px 55px 70px 30px;
    color: var(--color-font-light-grey);
    transition: all 0.3s ease-in;
}

#home .about-card:hover{
    background-image: var(--gradient-primary);
    color: var(--color-font-light);
}
    #home .about-card:hover .number-decoration{
        visibility: hidden;
    }
#home .about-card:hover .number{
    visibility: visible;
}
#home .about-card .number-decoration{
    position: absolute;
    top: 50%;
    font-size: 100px;
    font-weight: bold;
    color: #ffe8eb;
}

#home .about-card .number{
    visibility: hidden;
    font-size: 60px;
    font-weight: bold;
}
#home .about-card .title{
    text-transform: capitalize;
    padding-bottom: 30px;

}
#home .about-card .description{
        letter-spacing: -1px;
        z-index: 1;
        position: relative;


}
