    #home .banner {
      height: 100vh;
      background: url(../imagens/Dark\ souls.jpg) no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #home .banner .title {
      color: var(--color-font-light);
      font-size: clamp(13px, 5vw, 35px);
      font-weight: normal;
      padding-bottom: 30px;
    }

    #home .banner-container {
      width: 100%;
      max-width: clamp(90vw, 100vw, 70vw);
      text-align: center;
      display: flex;
      flex-direction: column;


    }

    #home .banner .subtitle {
      color: var(--color-font-light);
      font-size: clamp(19px, 5vw, 48px);
      font-weight: 600;
    }

    #home .banner .description {
      color: var(--color-font-light);
    }

    #home .banner .link:hover {
      background-image: var(--gradient-primary-fallback);
      background-image: var(--gradient-primary-reverse);
    }