    #home .banner {
      height: 100vh;
      background: url(../imagens/Dark\ souls.jpg) no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @media(max-width:440px){
      #home .banner{
        background-position-x: 20% ;
        height: 40vh;
      }

    }
    #home .banner-container {
      width: 100%;
      max-width: clamp(90vw, 100vw, 70vw);
      text-align: center;
      display: flex;
      flex-direction: column;
    }
    #home .banner .title {
      color: var(--color-font-light);
      font-size: clamp(1rem, 3vw, 3rem);
      font-weight: normal;
      padding-bottom: 1.875rem;
      text-shadow: var(  --color-font-grey) 1px 0 0.625rem;
    }
  
    #home .banner .subtitle {
      color: var(--color-font-light);
      font-size: clamp(1.7rem, 2vw, 3rem);
      font-weight: 600;
      text-shadow: var(  --color-font-grey) 1px 0 10px;
    }

    #home .banner .description {
      color: var(--color-font-light);
    }
    #home .banner .link:hover {
      background-image: var(--gradient-primary-fallback);
      background-image: var(--gradient-primary-reverse);
    }